.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background-color: transparent !important;
}
.dropdown-menu, .product .dropdown-menu:hover{
    background-color: transparent ;
}
.dropdown-menu>li>a{
    color: #fff;
}
.swiper_img{
    width: 100%;
    height: 500px;
}
.flower_art{
    width: 100%;
    height: auto;
}

